@model Utad_Proj_.Models.Movie_Session

@{
    ViewData["Title"] = "Purchase Tickets";
    var i = 0;
}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Movie Seat Booking</title>
    <link rel="stylesheet" href="/Tickets/TicketsStyle.css">
    
    <style>
      
    </style>
  </head>
  <body>
    
    

     
    <div class="movie-container">
      <label style="font-size: 1em;">Ticket Price:</label>
      <select id="movie">
        <option value="10">$10</option>

      </select>
    </div>

    <ul class="showcase">
      <li>
        <div id="seat" class="seat"></div>
        <small class="status" style="font-size: 1em;">N/A</small>
      </li>
      <li>
        <div id="seat" class="seat selected"></div>
        <small class="status" style="font-size: 1em;">Selected</small>
      </li>
      <li>
        <div id="seat" class="seat occupied"></div>
        <small class="status" style="font-size: 1em;">Occupied</small>
      </li>
    </ul>

    
     <div class="container">
      <div class="screen"></div>

          <div class="row" >
              @for(i=0; i <= Model.Room.Num; i++)
            {
                  <div id="seat" class="seat"></div>
            }
        </div>



    </div>
    

    <p class="text" style="font-size: 1em;margin:0px 0px 15px 0px">
      You have selected <span id="count">0</span> seats for a price of $<span
        id="total"
        >0</span
      >
    </p>

    <a href="/Movies">
      <button class="btn-home">
        Home
      </button>
    </a>
        
      <button class="btn-home" style="float: right;" onclick="buyTicketsOnClick();">
        Comprar Bilhete(s)
      </button>


    <!--
        .
        Count  = numero de lugares comprados.
        Total  = numero de euros vai ter que pagar.
        .
    -->
    <script>
        
     
      var count=0;
      var totalPrice=0;
      var seats=document.getElementsByClassName("seat");
      for(var i=0;i<seats.length;i++){
        var item=seats[i];
        
        item.addEventListener("click",(event)=>{
          var price= document.getElementById("movie").value;

          if (!event.target.classList.contains('occupied') && !event.target.classList.contains('selected') ){
          count++;
          
          totalPrice=count*price;
          event.target.classList.add("selected");
          document.getElementById("count").innerText=count;
          document.getElementById("total").innerText=totalPrice;

          //document.write(count);
          }
        })
      }

      function buyTicketsOnClick(){
          var urlToCheckout = '@Url.Action("CheckOut", "Rooms")'
            + '?movieSessionId=' + '@Model.Id'
            + '&numberOfTickets=' + count
            + '&price=' + totalPrice;

          window.location.href = urlToCheckout;
      }
    </script>
  </body>
</html>


<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
