









  





    <section>
    <div alignamment="center" >
    <img src="./assets/images/inicio3.png" alt="" width="400"
     height="201" href="./Views/Movies/Index">
</div>
    
      </section>

 





     


