
@{
    ViewData["Title"] = "Movies";
}

<h1>Movies</h1>

<body>
    <form id="form1" runat="server">
        <div>
            <h1>Spider-Man No Way Home</h1>
            <p>The following video is the trailer for the new Spider-Man No Way Home</p>
            <iframe 
                width="560"
                height="315"
                src="https://www.youtube.com/embed/JfVOs4VSpmA"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </form>        
</body>
